<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itedus.lottery.infrastructure.dao.IActivityDao">

    <sql id="insetFields">
        activityId, activityName, activityDesc,beginDateTime, endDateTime,
        stockCount, takeCount, state, creator, createTime, updateTime
    </sql>

    <sql id="selectFields">
        activityId, activityName, activityDesc,beginDateTime, endDateTime,
        stockCount, takeCount, state, creator, createTime, updateTime
    </sql>

    <insert id="insert" parameterType="cn.itedus.lottery.infrastructure.po.Activity">
        INSERT INTO activity
        (<include refid="insetFields"></include>)
        VALUES
        (#{activityId}, #{activityName}, #{activityDesc}, #{beginDateTime}, #{endDateTime},
        #{stockCount}, #{takeCount}, #{state}, #{creator}, now(), now())
    </insert>

    <!-- 这里了解resultType和resultMap的不同   -->
    <select id="queryActivityById" parameterType="java.lang.Long" resultType="cn.itedus.lottery.infrastructure.po.Activity">
        SELECT <include refid="selectFields"></include>
        FROM activity
        WHERE activityId = #{activityId}
    </select>

</mapper>


